body {
   background: linear-gradient(to right, #a18cd1, #fbc2eb);
    font-family: 'Segoe UI', sans-serif;
}

.container {
   background: #fff1f7;
    backdrop-filter: blur(20px);
    width: 460px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1, h2{
    text-align: center;
}
h6{
    text-align: center;
    margin-bottom: 0%;
}

.form input, .form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form button {
    width: 100%;
    padding: 12px;
    background: #4a69bd;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form button:hover {
    background: #133bdd;
}

.filter {
    margin: 15px;
    margin-left: 35%;
}

.summary {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.card {
    width: 30%;
    padding: 10px;
    margin-left:20px;
    border-radius: 8px;
    text-align: center;
    color: white;
}

.income-card { background: #2ecc71; }
.expense-card { background: #e74c3c; }
.balance-card { background: #34495e; }

#transactionList {
    list-style: circle;
    padding: 0;
}

.transaction {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
}

.income {
    background: #eafaf1;
    border-left: 5px solid green;
}

.expense {
    background: #fdecea;
    border-left: 5px solid red;
}

.delete {
    cursor: pointer;
    font-weight: bold;
}



